html, body {
    height:100%;
    width:100%;
    margin:0;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    background-color: antiquewhite;
    width: 100%;
    height:100%;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #333333;
    display: grid;
    grid-template-columns: 1pr;
    grid-template-rows: 1fr 4fr;
}

#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #fdfdfd;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

#content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #fdfdfd;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#dashboard-title {
    grid-row:1/2;
    margin:5px;
    background-color: rgb(146, 146, 146);
}

#menu {
    grid-row:2/3;
    margin:5px;
    background-color: rgb(146, 146, 146);
}

#search {
    grid-column: 1/2;
    grid-row: 1/2;
    margin:5px;
    background-color: rgb(146, 146, 146);
}

#user {
    grid-column: 2/3;
    grid-row: 1/2;
    margin:5px;
    background-color: rgb(146, 146, 146);
}

#welcome {
    grid-column: 1/2;
    grid-row: 2/3;
    margin:5px;
    background-color: rgb(146, 146, 146);
}

#controls {
    grid-column: 2/3;
    grid-row: 2/3;
    margin:5px;
    background-color: rgb(146, 146, 146);
}

#projects {
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 5px;
    background-color: rgb(146, 146, 146);
}

#announcements {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 5px;
    background-color: rgb(146, 146, 146);
}

#trending {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 5px;
    background-color: rgb(146, 146, 146);
}

ul {
    list-style: none;
    line-height: 4px;
}

#logo {
    width:100px;
    height:100px;
}

#dashboard-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome-img {
    width: 80px;
    height: 80px;
}

#welcome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    padding:10px;
}

#welcome div:nth-child(2) {
    padding:10px;
}

#search {
    display: flex;
    align-items: center;
    padding:10px;
}

#search img {
    height:50px;
    width:50px;
}

#search input {
    width: 80%;
    margin-left:5px;
}

#user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

#user img {
    width: 50px;
    height:50px;
    margin-right:10px;
}

#controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#controls button {
    padding: 5px 20px;
    border-radius: 20px;
    margin:5px;
    cursor:pointer;
}

#projects div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: autofit(1fr 1fr 1fr);
    background-color: rgb(89, 165, 165);
}

#projects div div {
    background-color: rgb(107, 182, 156);
    width: 50%;    
}
